<html xmlns:th="http://www.thymeleaf.org"
	th:replace="shared/layout_default">
<th:block th:fragment="page_level_plugins_styles">
	<link
		th:href="@{/assets/global/plugins/bootstrap-table/bootstrap-table.min.css}"
		rel="stylesheet" type="text/css" />
</th:block>
<th:block th:fragment="page_title">
	<h1 class="page-title">
		<span th:text="#{all_data}"> </span> <small></small>
	</h1>
</th:block>
<div th:fragment="page_bar">
	<ul class="page-breadcrumb">
		<li><i class="icon-home"></i> <a href="/" th:text="#{homepage}"></a>
			<i class="fa fa-angle-right"></i></li>
		<li><span th:text="#{original_data}"> </span></li>
	</ul>
</div>
<th:block th:fragment="content">
	<div class="row">
		<div class="col-md-12">
			<div class="portlet">
				<div class="portlet-body">

					<div id="action_alert"></div>
					<div class="row">
						<div class="col-md-9 col-sm-12">
							<div class="form-inline">
								<div class="form-group">
									<label th:text="#{province}"> </label> <input
										id="query_province_name" type="text"
										class="form-control input-sm"></input>
								</div>
								<div class="form-group">
									<label th:text="#{city}"> </label> <input
										id="query_city_name" type="text"
										class="form-control input-sm"></input>
								</div>
								<div class="form-group">
									<label th:text="#{county}"> </label> <input
										id="query_county_name" type="text"
										class="form-control input-sm"></input>
								</div>
								<div class="form-group">
									<label th:text="#{town}"> </label> <input
										id="query_town_name" type="text"
										class="form-control input-sm"></input>
								</div>
								<div class="form-group">
									<label th:text="#{village}"> </label> <input
										id="query_village_name" type="text"
										class="form-control input-sm"></input>
								</div>

							</div>
						</div>
						<div class="col-md-3 col-sm-12" style="text-align: right">
							<button id="btn_query" class="btn btn-success btn-sm">
								<i class="fa fa-search"></i> <span th:text="#{search}"></span>
							</button>

							<a id="btn_collect" href="javascript:;"
								class="btn btn-info btn-sm" onclick="startLoad()"> <i
								class="icon-arrow-down"></i> <span class="hidden-xs"
								th:text="#{load}"></span>
							</a>
						</div>
					</div>
					<br />
					<table id="table_list">
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
<th:block th:fragment="page_level_plugins_scripts">
	<script
		th:src="@{/assets/global/plugins/bootstrap-table/bootstrap-table.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/jquery-validation/js/jquery.validate.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/jquery-validation/js/additional-methods.min.js}"
		type="text/javascript"></script>
	<script
		th:src="@{/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js}"
		type="text/javascript"></script>
</th:block>
<th:block th:fragment="page_level_scripts">
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		$(function() {
			
			highlightCurrentUrl();
			
			$('#table_list').bootstrapTable({
			      url: '/original/all',
			      method: 'post',
			      pagination: true,    
	              sortable: true,     
	              sortOrder: 'asc', 
			      striped: true,
			      pageSize: 25,   
	              pageList: [10, 25, 50, 100],
	              sidePagination: 'server', 
	              search: false,  
	              queryParams : function (params) {
	                	return {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
	                        limit: params.limit,   //页面大小
	                        offset: params.offset,  //页码
	                        sort: params.sort,
	                        order: params.order, 
	                        provinceName : $.trim($('#query_province_name').val()),
	                        cityName : $.trim($('#query_city_name').val()),
	                        countyName : $.trim($('#query_county_name').val()),
	                        townName : $.trim($('#query_town_name').val()),
	                        villageName : $.trim($('#query_village_name').val())
	                    };
	                },
	                // toolbar :'#toolbar',
	                //Enable the strict search.    
	                strictSearch: false,
	                //Indicate which field is an identity field.
	                idField : 'villageCode',
					columns: [
			    	  {
			          	field: 'provinceCode',
			          	title: [[#{stats_code}]],
			          	sortable: true
			        	},
			    	  {
				          	field: 'provinceName',
				          	title: [[#{province}]],
				          	sortable: true
				        },{
				          	field: 'cityCode',
				          	title: [[#{stats_code}]],
				          	sortable: true
				        	},
				        {
				          	field: 'cityName',
				          	title: [[#{city}]],
				          	sortable: true
				        },{
				          	field: 'countyCode',
				          	title: [[#{stats_code}]],
				          	sortable: true
				        	},
				        {
				          	field: 'countyName',
				          	title: [[#{county}]],
				          	sortable: true
				        },
				        {
				          	field: 'townCode',
				          	title: [[#{stats_code}]],
				          	sortable: true
				        	},
				        {
				          	field: 'townName',
				          	title: [[#{town}]],
				          	sortable: true
				        },
				        
				        {
				          	field: 'villageCode',
				          	title: [[#{stats_code}]],
				          	sortable: true
				        },
				        {
				          	field: 'villageCategory',
				          	title: [[#{category}]],
				          	sortable: true
				        },
				        {
				          	field: 'villageName',
				          	title: [[#{village}]],
				          	sortable: true
				        }
			      ] 
			    });
			
			$('#btn_query').click(function(){
				 $('#table_list').bootstrapTable('refresh');
				 return false;
			});

			setInterval(function(){
				$('#table_list').bootstrapTable('refresh');
			},20 * 1000);
		});
 
		function startLoad(){
			if(!confirm([[#{confirm_load}]])){
				return;
			}
			$.ajax({
				url : '/original/load/all',
				type : 'POST',
				contentType : 'application/json',
				cache : false,
				datatype : 'json',
				success : function(json) {
					var alertType = 'danger';
					var alertIcon = 'warning';
					if (json.result) {
					 	alertType = 'success';
						alertIcon = 'check';
					} 
						App.alert({
							container : '#action_alert',
							place : 'prepend',
							type : alertType,
							message : json.message,
							close : true,
							reset : true,
							focus : true,
							closeInSeconds : 5,
							icon : alertIcon
						});
				}
			});
		}
		
		/*]]>*/
	</script>
</th:block>
</html>