<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true"></button>
	<h4 class="modal-title" th:text="#{edit_county}"></h4>
</div>
<div class="modal-body" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-md-12">
			<form id="edit_county_form" action="#" class="form-horizontal">
				<div class="form-body">

					<div id="edit_county_alert"></div>

					<div class="form-group">
						<label class="col-md-3 control-label" th:text="#{stats_code}"></label>
						<div class="col-md-9">
							<span class="form-control-static" id="edit_county_code" th:text="${vm.code}"></span>
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{name}"></span><span class="required"> * </span>
						</label>
						<div class="col-md-6">
							<input type="text" id="edit_county_name" name="edit_county_name"
								class="form-control input-sm" th:value="${vm.name}" />
						</div>
						<div class="col-md-3"></div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer" xmlns:th="http://www.thymeleaf.org">
	<button type="button" id="btn_county_close" class="btn default" data-dismiss="modal">
		<i class="fa fa-close"></i> <span th:text="#{close}"></span>
	</button>
	<button type="button" id="btn_county_submit" class="btn blue">
		<i class="fa fa-check"></i> <span th:text="#{submit}"></span>
	</button>
</div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		$('#edit_county_form').validate({
			errorElement : 'span',
			errorClass : 'help-block help-block-error',
			focusInvalid : false,
			ignore : '',
			rules : {
				edit_county_name : {
					required : true,
					maxlength : 40
				}
			},
			messages : {},
			invalidHandler : function(e, t) {
			},
			errorPlacement : function(e, r) {
				r.parent().next().html(e)
			},
			highlight : function(e) {
				$(e).closest(".form-group").addClass("has-error")
			},
			unhighlight : function(e) {
				$(e).closest(".form-group").removeClass("has-error")
			},
			success : function(e) {
				e.closest(".form-group").removeClass("has-error")
			},
			submitHandler : function(e) {
				var request = {};
				request.code = $.trim($('#edit_county_code').text());
				request.name = $.trim($('#edit_county_name').val());

				$.ajax({
					url : '/original/county/edit',
					type : 'POST',
					data : JSON.stringify(request),
					contentType : 'application/json',
					cache : false,
					datatype : 'json',
					success : function(json) {
						if (json.result) {
							$('#table_county_list').bootstrapTable('refresh');
							$('#btn_county_close').click();
						} else {
							App.alert({
								container : '#edit_county_alert',
								place : 'append',
								type : 'danger',
								message : json.message,
								close : true,
								reset : true,
								focus : true,
								closeInSeconds : 5
							});
						}
					}
				});
			}
		})
		
		$('#btn_county_submit').click(function(){
			$('#edit_county_form').submit();
		})
	});

	/*]]>*/
</script>