<div class="modal-header" xmlns:th="http://www.thymeleaf.org">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true"></button>
	<h4 class="modal-title" th:text="#{add_clean_rule}"></h4>
</div>
<div class="modal-body" xmlns:th="http://www.thymeleaf.org">
	<div class="row">
		<div class="col-md-12">
			<form id="add_rule_form" action="#" class="form-horizontal">
				<div class="form-body">

					<div id="add_rule_alert"></div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{data_category}"></span><span class="required">
								* </span>
						</label>
						<div class="col-md-6">
							<select id="add_data_category" name="add_data_category"
								class="form-control input-sm">
								<option value="" th:text="#{please_select}"></option>
								<option th:each="category : ${categoryList}"
									th:value="${category.key}" th:text="${category.value}"></option>
							</select>
						</div>
						<div class="col-md-3"></div>

					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{search_text}"></span><span class="required"> *
						</span>
						</label>
						<div class="col-md-6">
							<input type="text" id="add_search_text" name="add_search_text"
								class="form-control input-sm" />
						</div>
						<div class="col-md-3"></div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{replace_text}"></span>
						</label>
						<div class="col-md-6">
							<input type="text" id="add_replace_text" name="add_replace_text"
								class="form-control input-sm" />
						</div>
						<div class="col-md-3"></div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3"> <span
							th:text="#{priority}"></span>
						</label>
						<div class="col-md-6">
							<input type="text" id="add_priority" name="add_priority"
								class="form-control input-sm" />
						</div>
						<div class="col-md-3"></div>
					</div>

				</div>
			</form>
		</div>
	</div>
</div>
<div class="modal-footer" xmlns:th="http://www.thymeleaf.org">
	<button type="button" id="btn_add_close" class="btn default"
		data-dismiss="modal">
		<i class="fa fa-close"></i> <span th:text="#{close}"></span>
	</button>
	<button type="button" id="btn_add_submit" class="btn blue">
		<i class="fa fa-check"></i> <span th:text="#{submit}"></span>
	</button>
</div>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		$('#add_rule_form').validate({
			errorElement : 'span',
			errorClass : 'help-block help-block-error',
			focusInvalid : false,
			ignore : '',
			rules : {
				add_data_category : {
					required : true,
					maxlength : 40
				},
				add_search_text : {
					required : true,
					maxlength : 40
				},
				add_replace_text : {
					maxlength : 40
				},
				add_priority : {
					digits:true,
					range:[1,9999] 
				}
			},
			messages : {},
			invalidHandler : function(e, t) {
			},
			errorPlacement : function(e, r) {
				r.parent().next().html(e)
			},
			highlight : function(e) {
				$(e).closest(".form-group").addClass("has-error")
			},
			unhighlight : function(e) {
				$(e).closest(".form-group").removeClass("has-error")
			},
			success : function(e) {
				e.closest(".form-group").removeClass("has-error")
			},
			submitHandler : function(e) {
				var request = {};
				request.dataCategory = $.trim($('#add_data_category').val());
				request.searchText = $.trim($('#add_search_text').val());
				request.replaceText = $.trim($('#add_replace_text').val());
				request.priority = $.trim($('#add_priority').val());

				$.ajax({
					url : '/clean/rule/add',
					type : 'POST',
					data : JSON.stringify(request),
					contentType : 'application/json',
					cache : false,
					datatype : 'json',
					success : function(json) {
						if (json.result) {
							$('#table_list').bootstrapTable('refresh');
							$('#btn_add_close').click();
						} else {
							App.alert({
								container : '#add_rule_alert',
								place : 'append',
								type : 'danger',
								message : json.message,
								close : true,
								reset : true,
								focus : true,
								closeInSeconds : 5
							});
						}
					}
				});
			}
		})

		$('#btn_add_submit').click(function() {
			$('#add_rule_form').submit();
		})
	});

	/*]]>*/
</script>